Primeira coisa que farei será importar as bibliotecas que vou usar e analisar as informações gerais do gráfico usando os métodos info() e head()

In [1]:
import pandas as pd
import streamlit as st
import plotly_express as px

df = pd.read_csv('../vehicles.csv', sep=',')
print(df.info())
print()
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB
None

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

Nesse conjunto de dados possuimos 12 colunas: price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed. Primeiro podemos ver que 'model_year', cylinders, odometer, paint_color, is_4wd, possuem valores ausentes. Além disso, tempos alguns dados com o seu tipo errado: price está como int, seria melhor float; model_year, está como float, seria mais adequado como int; cylinders seria melhor está como int; 'is_4wd' provavelmente seria mais adequado como um valor booleano (o carro tem ou não tem tração nas quatro rodas); e por fim data_posted, seria melhor estar como datatime do que como object.

In [2]:
df['price'] = df['price'].astype(float)
print(type(df['price'][0]))

df['date_posted'] = pd.to_datetime(df['date_posted'], format='%Y-%m-%d')
print(type(df['date_posted'][0]))

df.isna().sum()

<class 'numpy.float64'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [3]:
df['model_year'] = df['model_year'].fillna(0)
df['model_year'] = df['model_year'].astype(int)

df['cylinders'] = df['cylinders'].fillna(0)
df['cylinders'] = df['cylinders'].astype(int)

df['odometer'] = df['odometer'].fillna(0)
df['odometer'] = df['odometer'].astype(float)

df['paint_color'] = df['paint_color'].fillna('unknown')

df['is_4wd'] = df['is_4wd'].fillna(0)
df['is_4wd'] = df['is_4wd'].astype(bool)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  float64
 1   model_year    51525 non-null  int64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51525 non-null  int64
 5   fuel          51525 non-null  object
 6   odometer      51525 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  bool
 11  date_posted   51525 non-null  datetime64[ns]
 12  days_listed   51525 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(3), object(6)
memory usage: 4.8+ MB
None